<ul class="flex flex-col gap-y-2 bg-white text-gray-600">
    <li class="block px-6 py-2 hover:bg-gray-50 hover:text-gray-800">
        <a href="#">Utilisateurs</a>
    </li>
    <li class="block px-6 py-2 hover:bg-gray-50 hover:text-gray-800">
        <a href="#">Produits</a>
    </li>
    <li class="block px-6 py-2 hover:bg-gray-50 hover:text-gray-800">
        <a href="#">Clients</a>
    </li>
</ul>