<aside class="fixed left-0 top-0 h-full w-64 mb-4 bg-white text-gray-600 flex-shrink-0">
    <div class="p-6">
        <h2 class="text-2xl font-semibold">Backoffice</h2>
    </div>
    <nav class="mt-6">
        <ul>
            <li class="px-6 py-2 hover:bg-gray-50 hover:text-gray-800">
                <a class="block">Utilisateurs</a>
            </li>
            <li class="px-6 py-2 hover:bg-gray-50 hover:text-gray-800">
                <a class="block">Produits</a>
            </li>
            <li class="px-6 py-2 hover:bg-gray-50 hover:text-gray-800">
                <a class="block">Clients</a>
            </li>
        </ul>
    </nav>
</aside>