<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'welcome'|trans }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <main class="bg-gray-100">
            {% block main %}{% endblock %}   
        </main>

        <footer class="relative">
            {% block footer %}{% endblock %}
                <div class="fixed bottom-0 right-0 z-50 flex flex-row-reverse gap-1 overflow-hidden">
                    {% for type, messages in app.flashes %}
                        {% for message in messages %}
                            {% include '_flash.html.twig' with { message: message, type: type } %}
                        {% endfor %}
                    {% endfor %}
                </div>
        </footer>
    </body>
</html>
